body {
    padding-top: 50px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #ebebeb;
    background-color: #2b3e50;
}

nav ul li a:active {
    color: #ebebeb;
    background-color: #485563;
}

.navbar {
    font-size: 12px !important;
}

.form-control {
    opacity: 0.7 !important;
    transition: 0.5s all;
}

.form-control:focus {
    opacity: 1 !important;
}